@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Inter:opsz,wght@14..32,100..900&display=swap');


// Fuentes
$fuente_cuerpo: 'Inter', sans-serif;
$fuente_titulo: 'Exo 2', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$fondo: #212121;
$grisOscuro: #2C2C2C;
$gris: #424242;
$grisClaro: #DBC3C7;
$violeta: #6C63FF;
$violeta_oscuro: #3A33A3;
$verde: #4CAF50;
$blanco: #FFFFFF;
$rojo: #FF5252;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;