.background-nosotros {
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 130%
    );
    opacity: 1;
    background-color: $violeta;
    z-index: 0;
}

.hero-nosotros {
    height: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-nosotros__texto {
        width: 65rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(1, 1, 1, 0.1);
        backdrop-filter: blur(5rem);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 20px;
        
        h1 {
            margin: 4rem auto 1rem 3rem;
        }

        h2 {
            font-size: 2.5rem;
            text-align: flex-start;
            padding-left: 3rem;
        }

        p {
            margin: 1rem auto 4rem 3rem;
        }
    }
}

.definicion {
    padding: 2rem;
    h2 {
        margin: 4rem 0;
    }
    .grid-definicion {

        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        .mision {
            background-color: rgba($grisOscuro, 0.1);
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }

            .div-mision {
                text-align: center;

                p {
                    font-size: 1.6rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    margin-bottom: 4rem;
                }
            }
        }

        .vision {
            background-color: rgba($grisOscuro, 0.1);
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }

            .div-vision {
                text-align: center;

                p {
                    font-size: 1.6rem;
                    margin-left: 3rem;
                    margin-right: 3rem;
                    margin-bottom: 4rem;
                }
            }
        }

        .valores {
            background-color: rgba($grisOscuro, 0.1);
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1rem;
                align-items: center;
            }
            
            @include tablet {
                grid-column: 1 / 3;
            }

            .ilustracion-valores {
                width: 100%;
                height: auto;
                max-height: 40rem;
                margin: 0;
                padding: 2rem;
            }

            .div-valores {
                margin-bottom: 2rem;

                .p-subtitulo {
                    margin-left: 2rem;
                    margin-right: 2rem;

                    @include tablet {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                ul, li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 1rem;
                    margin: 0 1rem;

                    .img-li {
                        width: auto;
                        height: 4rem;
                    }

                    p {
                        font-size: 1.6rem;
                    }

                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        & {
            article {
                margin: 3rem 2rem;
            }
        }
    }
}

.historia {
    padding: 2rem;

    .historia-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        

        @include tablet {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 4rem;
            align-items: center;
        }

        .texto-historia {
            p {
                font-size: 2rem;
                line-height: 3.5rem;
            }

            border-bottom: 2px solid $violeta;

            @include tablet {
                border-bottom: none;
                border-right: 2px solid $violeta;
                padding-right: 4rem;
            }
        }

        .imagen-historia {
            width: 35rem;
        }
    }
}