.webp .contenido-preguntas {
    background-image: url(../resources/img/contacto.webp);
}

.no-webp .contenido-preguntas {
    background-image: url(../resources/img/contacto.jpg);
}

.contenido-preguntas {
    background-repeat: no-repeat;
    background-position: center;
    width: 100rem;
    height: 70rem;
}