.no-webp .hero {
    background-image: url(../../resources/img/hero.png);
}

.webp .hero {
    background-image: url(../../resources/img/hero.webp);
}

header {
    padding: 1rem 0 3rem 0;

    &.hero {
        background-position: center center;
        background-size: cover;
    }

}

.contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .logo {
        font-family: $fuente_titulo;
        font-size: 3rem;
        color: $blanco;
    }

    .navegacion {
        background-color: rgba($grisOscuro, 0.4);
        color: $blanco;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        border-radius: 2rem;

        a {
            padding: 0.5rem 2rem;
            margin: 0 1rem;
            color: $blanco;
            transition: background-color 0.3s ease; 

            &:hover {
                background-color: rgba($grisOscuro, 0.4);
                color: $violeta;
            }
        }

        .activo {
            border-bottom: 2px solid $violeta;
            transition: background-color 0.3s ease; 

            &:hover {
                border-bottom: 2px solid $blanco;
            }
        }
    }
}