.webp .hero {
  background-image: url('../resources/img/hero.webp');
}

.no-webp .hero {
  background-image: url('../resources/img/hero.png');
}

header {
  padding: 1.5rem;

  &.hero {
    background-position: center center;
    background-size: cover;
    min-height: 100dvh;
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .barra {
    display: flex;
    flex-direction: column; // En móviles, apilado
    align-items: center;
    gap: 2rem; // Espaciado entre logo, nav y botón

    @include tablet {
      flex-direction: row; // En tablet y desktop, en fila
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .logo {
      font-family: $fuente_titulo;
      font-size: 3rem;
      color: $blanco;
    }

    .navegacion {
      display: none; // Oculta en móviles
      flex-direction: column;
      align-items: center;
      //margin: 3rem 0;
      background-color: rgba($grisOscuro, 0.4);
      color: $blanco;
      padding: 0 1rem;
      border-radius: 2rem;
      min-width: 20rem;

      &.menu-activo {
        display: flex;
      }

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
      }

      a {
        padding: 0.5rem 2rem;
        margin: 0 1rem;
        color: $blanco;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba($grisOscuro, 0.4);
          color: $violeta;
        }
      }

      .activo {
        border-bottom: 2px solid $violeta;
        transition: background-color 0.3s ease;

        &:hover {
          border-bottom: 2px solid $blanco;
        }
      }
    }

    .boton {
      @include boton($violeta);
      display: inline-block;
    }
  }
}

.contenido-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;

  @include tablet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .titulo-hero {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .parrafo-hero {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .boton-hero {
    margin-top: 1rem;
    @include boton($violeta);
    display: inline-flex;
    align-items: center;
    padding: 1rem 1rem 1rem 2rem;

    a {
      color: $blanco;
    }

    .lucide-chevron-right {
      width: 3rem;
      height: 2.6rem;
      stroke-width: 0.35rem;
      margin-left: 1rem;
    }
  }

  @include tablet {
    .titulo-hero {
      font-size: 4rem;
    }
  }
}

/** Mobile menu **/
.mobile-menu {
  @include tablet {
    display: none;
  }

  img {
    width: 4rem;
  }
}

// .menu-activo {
//   display: flex;
// }