.webp .hero {
  background-image: url('../resources/img/hero.webp');
}

.no-webp .hero {
  background-image: url('../resources/img/hero.png');
}


header {
    padding: .5rem;

    &.hero {
        background-position: center center;
        background-size: cover;
        min-height: 70rem;
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-family: $fuente_titulo;
        font-size: 3rem;
        color: $blanco;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
        background-color: rgba($grisOscuro, 0.4);
        color: $blanco;
        padding: 0 1rem;
        border-radius: 2rem;
        min-width: 20rem;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            margin: 3rem 0;
        }

        a {
            padding: 0.5rem 2rem;
            margin: 0 1rem;
            color: $blanco;
            transition: background-color 0.3s ease; 

            &:hover {
                background-color: rgba($grisOscuro, 0.4);
                color: $violeta;
            }
        }

        .activo {
            border-bottom: 2px solid $violeta;
            transition: background-color 0.3s ease; 

            &:hover {
                border-bottom: 2px solid $blanco;
            }
        }
    }

    @include tablet {
        .boton {
            @include boton($violeta, inline-block)
        }
    }
}

.contenido-hero {
    text-align: center;

    .titulo-hero {
        margin-bottom: 1rem;
    }

    .parrafo-hero {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .boton-hero {
        margin-top: 1rem;
        @include boton($violeta, block);
    }

    @include tablet {
        margin-top: 15rem;

        .titulo-hero {
            font-size: 4rem;
        }

        // .boton-hero{
        //     @include boton($violeta, inline-block);
        // }
    }
}