.webp .background-login {
    background-image: url(../../../build/resources/img/hero.webp);
}

.no-webp .background-login {
    background-image: url(../../../build/resources/img/hero.png);
}

.header-login {
    background-color: rgba($grisOscuro, 0.1);
    padding: .3rem 0;
    text-align: center;

    a {
        text-decoration: none;
        color: $blanco;
        font-family: $fuente_titulo;
        font-size: 3rem;
    }
}

.background-login {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 90dvh;
    overflow: hidden;
    display: flex; //Flex para alinear verticalmente el login
    align-items: center;

    .login {
        background: rgba(1, 1, 1, 0.1);
        backdrop-filter: blur(5rem);
        -webkit-backdrop-filter: blur(12px); // Soporte para safari
        // border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 1.5rem;
        padding: 2rem;
        color: $blanco;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        width: 40rem;
        height: 47rem;

        h1 {
            margin-bottom: 5rem;
        }

        .input-group {
            position: relative;
            margin-bottom: 2rem;

            .icon {
                position: absolute;
                left: 1.2rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1.8rem;
                height: 1.8rem;
                opacity: 0.7;
            }
            
            input {
                width: 100%;
                height: 5rem;
                padding: 1.2rem 1.2rem 1.2rem 4rem;
                border: 1px solid $violeta;
                border-radius: 6px;
                background: transparent;
                color: $blanco;
                outline: none;
                transition: border-color 0.3s ease;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                    font-style: italic;
                }

                &:focus {
                    border-color: $violeta;
                }
            }

            .toggle-password {
                position: absolute;
                right: 1.2rem;
                top: 50%;
                transform: translateY(-50%);
                width: 2rem;
                height: 2rem;
                opacity: 0.7;
                cursor: pointer;
            }
        }
        .btn-login {
            @include boton($violeta);
            margin: 2rem auto;
            width: 100%;
            height: 5rem;
            font-size: 2.1rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 0;
    }

    * {
        position: relative;
        z-index: 1;
    }
}